<ul>
  <li>Taishan Scholar Young Expert of Shandong Province (山东省泰山学者青年专家)</li>
  <li>Second Prize - Shandong Province Science and Technology Award (山东省科学技术进步奖二等奖)</li>
  <li>Outstanding Youth Award of Shandong Association of Artificial Intelligence (山东省人工智能学会优秀青年奖)</li>
  <li>Shandong Province Youth Post Expert (山东省青年岗位能手)</li>
</ul>